<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/mainJS.js" defer></script>
    <meta charset="UTF-8">
    <title>RommMate</title>
</head>
<body>
<header>
    <div class="fullname">
        <div>
            <img class="logo" src="/assets/logo.jpg" alt="img" width="160" height="120">
        </div>
        RommMate
    </div>
    <div class="nav">
        <a href="#" class="buttonLightBlue">로그인</a>
        <a href="#" class="buttonGreen">회원가입</a>
        <a href="#" class="buttonPeach" onclick="checkLogin()">채팅목록</a>
    </div>
</header>
<main>
    <form>
        <div class="aboutMe">
            <div class="profileImg">
                <img class="profile" src="/assets/user.png">
            </div>
            <div class="selfProfile">
                <div class="selfDepartment" th:with="department=${'컴퓨터공학부'}, grade=${'4학년'}">
                    학과 / 학년
                    <div class="flexLine">
                        <div class="container">
                            <div class="item" th:text="${department}">컴퓨터공학부</div>
                            <div class="item"> /</div>
                            <div class="item" th:text="${grade}">4학년</div>
                        </div>
                    </div>
                </div>
                <div class="selfName">
                    이름
                    <div>안수민</div>
                </div>
                <div class="selfContent">
                    사용자가 선택한 내용
                    <div>코 안 곪코 안 곪코 안 곪코 안 곪코 안 곪코 안 곪코 안 곪코 안 곪코 안 곪코 안 곪코 안 곪코 안 곪코 안 곪코 안 곪코 안 곪코 안 곪코 안 곪코 안 곪코 안
                        곪코 안 곪코 안 곪코 안 곪
                    </div>
                    <div>코 안 곪</div>
                    <div>코 안 곪</div>
                    <div>코 안 곪</div>
                    <div>코 안 곪</div>
                    <div>코 안 곪</div>
                    <div>코 안 곪</div>
                    <div>코 안 곪</div>
                    <div>코 안 곪</div>
                    <div>코 안 곪</div>
                    <div>코 안 곪</div>
                    <div>코 안 곪</div>
                    <div>코 안 곪</div>
                    <div>늦게 잠</div>
                    <div>동갑 원함</div>
                </div>
                <div class="hunting">
                    모집 인원
                    <div>3명</div>
                </div>
            </div>
        </div>
    </form>
    <hr>
    <div>(로그인한 이름)가 찜한 룸메이트</div>
    <form>
        <div class="selectUser">
            <div class="userImg">
                <img class="profile" src="/assets/user.png">
            </div>
            <div class="userContent">
                학과/학년
                <div>애니메이션과 / 4학년</div>
                이름
                <div>오호호</div>
            </div>
        </div>
    </form>
    <hr>
    <div>(로그인한 이름)과 유사한 룸메이트</div>
    <form>
        <div class="pushUser">
            <div class="userImg">
                <img class="profile" src="/assets/user.png">
            </div>
            <div>추천 친구 학과/학년</div>
        </div>
        <div class="pushUser">
            <div class="userImg">
                <img class="profile" src="/assets/user.png">
            </div>
            <div>추천 친구 학과/학년</div>
        </div>
    </form>
</main>
<footer>
    <div class="explanation">
        당신의 룸메이트를 찾아드립니다.
        <div>
            <a href="https://github.com/zjarhdsumin/RoomMate"><img class="github" src="/assets/github-mark.png"
                                                                   alt="github" width="40" height="40"></a>
        </div>
    </div>
</footer>
</body>
</html>