header {
    height: 120px;
}

hr {
    clear: both;
}

main {
    clear: both;
    background: bisque;
    min-height: 700px;
    margin : 5px 5px 0 5px;
}

body {
    font-family: 'Roboto', sans-serif;
}

footer {
    clear : both;
    margin-top: 5px;
    height: 310px;
    flex-direction: column;
}

img {
    float : left;
}

a {
    margin : 5px;
    padding: 3px;
    border-radius : 3px;
    text-decoration-line: none;
}

.nav {
    position: absolute;
    top : 10px;
    right: 0;
}

.logo {
    margin : 5px;
}

.fullname {
    text-align: center;
    padding: 10px 10px;
    font-size: 100px;
}

.aboutMe, .selectUser {
    margin : 5px;
    display: flex;
    align-items: center;
}

.selfName {
    display: none;
}

.pushUser {
    margin : 5px;
    display: inline-grid;
}

.profileImg{
    width: 300px;
    height: 300px;
    border-radius: 60%;
    overflow: hidden;
    margin : 15px 20px 5px 20px;
}

.profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.selfProfile {
    border : 1px solid black;
    word-break:break-all;
    margin : 20px 10px 10px 15px;
}

.flexLine {
    display: flex;
    margin : 5px;
}

.container {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

.item {
    flex-basis: auto;
}

.buttonLightBlue {
    background: lightskyblue;
    color: black;
}
.buttonLightBlue:hover {
    filter:brightness(0.5);
}

.buttonGreen {
    background: lightgreen;
    color: black;
}

.buttonGreen:hover {
    filter:brightness(0.5);
}

.buttonPeach {
    background: lightpink;
    color: black;
}

.buttonPeach:hover{
    filter:brightness(0.5);
}

.explanation {
    align-items: center;
    justify-content: space-between;
    color: darkgray;
    margin: 20px 5px 5px 5px;
    display: flex;
}

.link{
    text-align: right;
    color: darkgray;
}

.userImg {
    width: 100px;
    height: 100px;
    border-radius: 60%;
    overflow: hidden;
    margin : 15px 20px 5px 20px;
}


